@model BarberBookingSystem.Models.Booking

@{
    ViewData["Title"] = "Booking Confirmed";
}

<h2>Booking Confirmed</h2>

<p>Your booking has been confirmed:</p>

<div>
    <dl class="row">
        <dt class="col-sm-2">Booking ID</dt>
        <dd class="col-sm-10">@Model.ID</dd>

         <dt class="col-sm-2">Customer Name</dt>
        <dd class="col-sm-10">@Model.CustomerName</dd>

        <dt class="col-sm-2">Customer Number</dt>
        <dd class="col-sm-10">@Model.CustomerNumber</dd>

        <dt class="col-sm-2">Date</dt>
        <dd class="col-sm-10">@Model.Date.ToString("yyyy-MM-dd")</dd>

        <dt class="col-sm-2">Time</dt>
        <dd class="col-sm-10">@Model.Time</dd>

        <dt class="col-sm-2">Status</dt>
        <dd class="col-sm-10">@Model.Status</dd>

    </dl>
</div>

<a asp-action="Index" class="btn btn-primary">Back to Calendar</a>
